$color-highlight: #14b48e;

$field-radius: 4px;

$input-height: 56px;
$input-padding: 16px;

$label-size: 16px;
$label-color: #666;
$label-focused-color: $color-highlight;

$support-color: #888;

$indicator-color: #dadada;
$indicator-focused-color: $color-highlight;

$transition: 0.2s cubic-bezier(0.02, 0.67, 0.17, 1);