$menu-padding: 16px;
$menu-radius: 4px;
$field-height: 56px;
$field-background: #f7f7f7;
$option-height: 48px;
$option-hovered-background: #f1f1f1;
$option-pressed-background: #eaeaea;

.Menu {
	position: absolute;
	width: calc(100% + (2 * $menu-padding));
	z-index: 5000;
	top: calc($field-height);
	left: calc(-1 * $menu-padding);

	padding: ($menu-padding * 0.5) 0;
	background-color: $field-background;
	border-radius: $menu-radius;


	.Option {
		height: $option-height;
		padding: 0 $menu-padding;
		display: flex;
		align-items: center;
		cursor: pointer;

		&:hover {
			background-color: $option-hovered-background;
		}

		&:active {
			background-color: $option-pressed-background;
		}
	}
}